<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Karabiner-Elements complex_modifications rules by rcmdnk</title>
    <link href="assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="//rcmdnk.com/KE-complex_modifications/">Karabiner-Elements complex_modifications rules by rcmdnk</a>
        </div>
      </div>
    </nav>

    <div class="container" style="margin-bottom: 100px">
      <div class="text-right" style="margin-bottom: 30px">
        <a href="//github.com/rcmdnk/KE-complex_modifications/">GitHub</a>
      </div>

      <% $toc = []
         $groups = ""

         # id must be different from file name
         add_group("Shotcutkey", "shotcutkey_setting", [
           "shotcutkey.json",
         ])
         add_group("ReplacekeySummary", "replacekeysummary_setting", [
           "replacekey_summary.json",
         ])
         add_group("ShotcutkeySummary", "shotcutkey_summary_setting", [
           "shotcutkey_summary.json",
         ])
         add_group("FrontmostIfVscode", "frontmost_vscode_setting", [
           "frontmost_vscode.json",
         ])
         add_group("FrontmostIfVscode_summary", "frontmost_vscode_summary_setting", [
           "frontmost_vscode_summary.json",
         ])
         add_group("FrontmostIfCursor_summary", "frontmost_cursor_summary_setting", [
           "frontmost_cursor_summary.json",
         ])
         add_group("FrontmostIfObsidian_summary", "frontmost_obsidian_summary_setting", [
           "frontmost_obsidian_summary.json",
         ])
         add_group("FrontmostIfEclipse", "frontmost_eclipse_setting", [
           "frontmost_eclipse.json",
         ])
         add_group("FrontmostIfEclipse_summary", "frontmost_eclipse_summary_setting", [
           "frontmost_eclipse_summary.json",
         ])
         add_group("FrontmostIfintellij", "frontmost_intellij_setting", [
           "frontmost_intellij.json",
         ])
         add_group("FrontmostIfintellij_summary", "frontmost_intellij_summary_setting", [
           "frontmost_intellij_summary.json",
         ])
         add_group("FrontmostIfMi", "frontmost_mi_setting", [
           "frontmost_mi.json",
         ])
         add_group("FrontmostIfMi_summary", "frontmost_mi_summary_setting", [
           "frontmost_mi_summary.json",
         ])
         add_group("FrontmostIfMysqlworkbench", "frontmost_mysqlworkbench_setting", [
           "frontmost_mysqlworkbench.json",
         ])
         add_group("FrontmostIfMysqlworkbench_summary", "frontmost_mysqlworkbench_summary_setting", [
           "frontmost_mysqlworkbench_summary.json",
         ])
         add_group("MouseControl", "mouse_control_setting", [
           "mouse_control.json",
         ])
         add_group("DoublePushKey", "double_push_key_setting", [
           "double_push_key.json",
         ])

         add_group("WindowControl", "window_control_setting", [
           "window_control.json",
         ])
         add_group("FrontmostIfPathFinder", "frontmost_PathFinder_setting", [
           "frontmost_PathFinder.json",
         ])
         add_group("FrontmostIfPathFinder_summary", "frontmost_PathFinder_summary_setting", [
           "frontmost_PathFinder_summary.json",
         ])
         add_group("FrontmostIfFinder_summary", "frontmost_finder_summary_setting", [
           "frontmost_finder_summary.json",
         ])
         add_group("FrontmostIfFinder", "frontmost_finder_setting", [
           "frontmost_finder.json",
         ])
         add_group("TESUTO", "tesuto_setting", [
           "tesuto.json",
         ])
         add_group("TESUTO1", "tesuto1_setting", [
           "tesuto1.json",
         ])
         add_group("FrontmostIfBrowserSummary", "frontmost_browser_summary_setting", [
           "frontmost_browser_summary.json",
         ])
         add_group("FrontmostIfChrome_summary", "frontmost_chrome_summary_setting", [
           "frontmost_chrome_summary.json",
         ])
         add_group("FrontmostIfFirefox_summary", "frontmost_firefox_summary_setting", [
           "frontmost_firefox_summary.json",
         ])
         add_group("FrontmostIfChrome", "frontmost_chrome_setting", [
           "frontmost_chrome.json",
         ])
         add_group("FrontmostIfFirefox", "frontmost_firefox_setting", [
           "frontmost_firefox.json",
         ])
         add_group("FrontmostIfVivaldi", "frontmost_vivaldi_setting", [
           "frontmost_vivaldi.json",
         ])
         add_group("frontmost_sarari_summary", "frontmost_sarari_summary_setting", [
           "frontmost_sarari_summary.json",
         ])
         add_group("FrontmostIfVivaldi_summary", "frontmost_vivaldi_summary_setting", [
           "frontmost_vivaldi_summary.json",
         ])
         add_group("FrontmostIfIterm", "frontmost_iterm_setting", [
           "frontmost_iterm.json",
         ])
         add_group("FrontmostIfIterm_summary", "frontmost_iterm_summary_setting", [
           "frontmost_iterm_summary.json",
         ])
         add_group("FrontmostIfEvernote", "frontmost_evernote_setting", [
           "frontmost_evernote.json",
         ])
         add_group("Hold", "HoldSetting", [
           "hold.json",
         ])
         add_group("FrontmostIfExcel", "frontmost_excel_setting", [
           "frontmost_excel.json",
         ])
         add_group("FrontmostIfExcel_summary", "frontmost_excel_summary_setting", [
           "frontmost_excel_summary.json",
         ])
         add_group("FunctionKey", "functionkey_setting", [
           "functionkey.json",
         ])
         add_group("FunctionKey_summary", "functionkey_summary_setting", [
           "functionkey_summary.json",
         ])
         add_group("ReplaceKey", "replacekey_setting", [
           "replacekey.json",
         ])
         add_group("VimEmu", "vim_emu_setting", [
           "vim_emu.json",
         ])
         add_group("FrontmostIfKindle", "frontmost_kindle_setting", [
           "frontmost_kindle.json",
         ])
         add_group("FrontmostIfKindle_summary", "frontmost_kindle_summary_setting", [
           "frontmost_kindle_summary.json",
         ])
         add_group("FrontmostIfPreview", "frontmost_Preview_setting", [
           "frontmost_preview.json",
         ])
         add_group("FrontmostIfPreview_summary", "frontmost_Preview_summary_setting", [
           "frontmost_preview_summary.json",
         ])
         add_group("FrontmostIfEagle", "frontmost_eagle_setting", [
           "frontmost_eagle.json",
         ])
         add_group("FrontmostIfEagle_summary", "frontmost_eagle_summary_setting", [
           "frontmost_eagle_summary.json",
         ])
         add_group("FrontmostIfPararelldesk", "frontmost_pararelldesk_setting", [
           "frontmost_pararelldesk.json",
         ])
         add_group("FrontmostIfvirtualbox", "frontmost_virtualbox_setting", [
           "frontmost_virtualbox.json",
         ])
         add_group("FrontmostIfvirtualbox_summary", "frontmost_virtualbox_summary_setting", [
           "frontmost_virtualbox_summary.json",
         ])
         add_group("FrontmostIfLine_summary", "frontmost_line_summary_setting", [
           "frontmost_line_summary.json",
         ])
         add_group("FrontmostIfLine", "frontmost_line_setting", [
           "frontmost_line.json",
         ])
         add_group("FrontmostIfPhotos", "frontmost_photos_setting", [
           "frontmost_photos.json",
         ])
         add_group("FrontmostIfPhotos_summary", "frontmost_photos_summary_setting", [
           "frontmost_photos_summary.json",
         ])
         add_group("FrontmostIfCalendar", "frontmost_Calendar_setting", [
           "frontmost_Calendar.json",
         ])
         add_group("FrontmostIfCalendar_summary", "frontmost_Calendar_summary_setting", [
           "frontmost_Calendar_summary.json",
         ])
         add_group("FrontmostIfMail", "frontmost_Mail_setting", [
           "frontmost_mail.json",
         ])
         add_group("FrontmostIfMail_summary", "frontmost_Mail_summary_setting", [
           "frontmost_mail_summary.json",
         ])
         add_group("FrontmostIfNotion", "frontmost_Notion_setting", [
           "frontmost_notion.json",
         ])
         add_group("FrontmostIfNotion_summary", "frontmost_Notion_summary_setting", [
           "frontmost_notion_summary.json",
         ])
         add_group("FrontmostIfreadgamen_summary", "frontmost_readgamen_summary_setting", [
           "frontmost_readgamen_summary.json",
         ])
         add_group("FrontmostIfDiscord", "frontmost_discord_setting", [
           "frontmost_discord.json",
         ])
         add_group("FrontmostIfDiscord_summary", "frontmost_discord_summary_setting", [
           "frontmost_discord_summary.json",
         ])
         add_group("Frontmost_Electron", "frontmost_electron_setting", [
           "frontmost_electron.json",
         ])
         add_group("Frontmost_Electron_summary", "frontmost_electron_summary_setting", [
           "frontmost_electron_summary.json",
         ])
         add_group("Frontmost_Band", "frontmost_band_setting", [
           "frontmost_band.json",
         ])
         add_group("Frontmost_Band_summary", "frontmost_band_summary_setting", [
           "frontmost_band_summary.json",
         ])
         add_group("Frontmost_pararelldesk_summary", "frontmost_pararelldesk_summary_setting", [
           "frontmost_pararelldesk_summary.json",
         ])
      %>


      <%= render_toc() %>
      <div class="text-left" style="margin-bottom: 30px">
        <a href="javascript:$('.collapse').collapse('show')">Expand All</a> |
        <a href="javascript:$('.collapse').collapse('hide')">Collapse All</a>
      </div>

      <%= $groups %>

      <hr />
    </div>

    <script src="assets/jquery-3.2.1.min.js"></script>
    <script src="assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
